@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap');

:root {
  --color-primary: #595959;
  --color-secondary: #EDEDED;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-btn: #21C78B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-size: 1rem;
  color: var(--color-secondary);
  margin-top: 15px;
  margin-bottom: 15px;
}

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.site-margins {
  padding-left: 35px;
  padding-right: 35px;
}

@media screen and (max-width: 550) {
  p {
    font-size: 1.75rem;
  }

  .site-margins {
    padding-left: 0;
    padding-right: 0;
  }
}

.App {
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}