@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap');

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-btn: #CFD444;
  --color-error: #914343;
  --color-primary: #9B85A4;
  --color-secondary: #403744;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-size: 1rem;
  color: var(--color-secondary);
  margin-top: 15px;
  margin-bottom: 15px;
}

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.App {
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.25rem;
    max-width: 400px;
  }

  .site-margins {
    padding-left: 35px;
    padding-right: 35px;
  }

  .App {
    max-width: 500px;
  }

  form {
    max-width: 300px;
  }
}

